{% extends 'base.html' %}
{% load static %}
{% block Style %}
{% endblock %}

{% block Content %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">My Cats</h3>
            {% if request.user.is_staff %}
            <div class="d-flex">
              <div class="ml-auto p-2">
                  <button type="button" class="btn btn-primary js-create-cat" data-url="{% url 'menu:cat_create' %}">
                      <span class="glyphicon glyphicon-plus"></span>
                      New Cat
              </button><br><br/>
              </div>
            </div>
            {% endif %}
            {% if not request.user.is_staff %}
            <div class="d-flex">
              <div class="ml-auto p-2">
                <a class="btn waves-effect waves-light btn-rounded btn-info" href="#" role="button">Elegir Menu</a><br><br/>
              </div>
            </div>
            {% endif %}
            
            <div class="table-responsive">
                <table class="table" id="cat-table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Age</th>
                            <th class="text-center">Food</th>
                            <th class="text-center">Morgning</th>
                            <th class="text-center">Afternoon</th>
                            <th class="text-center">Evening</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'menu/partial_cat_list.html' %}
                    </tbody>      
                </table>
                <div class="modal fade" id="modal-cat">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>    
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block JavaScript %}
{% endblock %}