<form method="post" action="{% url 'menu:cat_delete' cat.id %}" class="js-cat-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm cat deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead" onclick="confirmation(event)">Are you sure you want to delete the Cat  <strong>{{ cat.name }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete cat</button>
  </div>
</form>
