{% for b in cats|dictsort:"id" reversed %}
    <tr>
        <td class="text-center">{{ b.pk }}</td>
        <td class="text-center">{{ b.name }}</td>
        <td class="text-center">{{ b.age }}</td>
        <td class="text-center">{{ b.food }}</td>
        <td class="text-center">{{ b.state_morning }}</td>
        <td class="text-center">{{ b.state_afternoon }}</td>
        <td class="text-center">{{ b.state_evening }}</td>
        <td class="text-center">
            <button type="button"
                class="btn btn-warning btn-sm js-update-cat"
                data-url="{% url 'menu:cat_update' b.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button type="button"
                class="btn btn-danger btn-sm js-delete-cat"
                data-url="{% url 'menu:cat_delete' b.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% endfor %}